<footer class="footer font-small blue">
  <% if (isAuthenticated) { %>
    <div class="footer text-center py-3">How do you like it?
      <a href="https://www.citegestion.com" target="_blank">Know more about us!</a>
    </div>
  <% } %>
</footer>